.h3{
padding-bottom: 10%;
}
.jrebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.pageheading {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-bottom: 2%;
}